body {
    background-color: #202020;
    color: #C0C0C0;
}

.pageTitle {
    color: #C0C0C0;
}




.IPA {
    color: #00FF00;
}

.Sour {
    color: #F0F;
}

.Cider {
    color: #FF0;
}

.Stout {
    color: #a0522d;
}